/* common styles */
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(#ff01ea, #ce3fc2);
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: #73e831;
}

ul {
  list-style-type: none; /* get rid of bullet points on side of list items */
}

/* common style ends */

/* container */
.container {
  background-color: rgb(246, 253, 145);
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 10px grey;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  color: rgb(4, 148, 81);
  font-size: 3rem;
}

/* todo-form */

.todo-form {
  margin: 40px 0px;
}

.todo-input {
  width: 250px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
}

.add-button {
  background-color: #0f5c19;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.2rem;
}

/* todo-form style ends */

/* todo-items */
.todo-items {
  min-width: 350px;
}

/* each li with class="item" */
.item {
  background-color: #fff;
  padding: 10px;
  font-size: 1.1rem;
}

.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* item style end */

.checkbox {
  margin-right: 10px;
}

.delete-button {
  float: right;
  background-color: #dc143c;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}

/* applied when the todo item is checked */
.checked {
  text-decoration: line-through;
}

/* todo-items style ends */

/* container style ends */