/* === CSS Variables === */
:root {
  /* === COLORS === */
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* === TYPOGRAPHY === */
  --font-family: 'Josefin Sans', sans-serif;
  --font-size: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

body.light-theme {
  /* Neutral: Light Theme */
  --clr-fill-primary: hsl(236, 33%, 92%);
  --clr-fill-secondary: hsl(0, 0%, 98%);
  --clr-text-base: hsl(237, 14%, 26%);
  --clr-muted-100: hsl(236, 9%, 61%);
  --clr-muted-200: hsl(233, 11%, 84%);
  --clr-muted-hover: hsl(234, 11%, 52%);
  --bg-img-header: url('../images/bg-mobile-light.jpg');
  --btn-theme: url('./images/icon-moon.svg');
}

body.dark-theme {
  /* Neutral: Dark Theme */
  --clr-fill-primary: hsl(235, 21%, 11%);
  --clr-fill-secondary: hsl(235, 24%, 19%);
  --clr-text-base: hsl(234, 39%, 85%);
  --clr-muted-200: hsl(237, 14%, 26%);
  --clr-muted-100: hsl(234, 11%, 52%);
  --clr-muted-hover: hsl(236, 33%, 92%);
  --bg-img-header: url('../images/bg-mobile-dark.jpg');
}

/* === Reset Styles === */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  min-height: 100vh;
  font-weight: var(--font-weight-regular);
  font-size: 100%;
  background-color: var(--clr-fill-primary);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--clr-muted-100);
}

button:hover {
  color: var(--clr-text-base);
}

input[type='checkbox'] {
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid var(--clr-muted-100);
  border-radius: 50%;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background: url('../images/icon-check.svg'), var(--check-background);
  background-repeat: no-repeat;
  background-position: center;
}

li {
  list-style: none;
}

/* === CSS Utilities === */
.container {
  max-width: 600px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-left: auto;
  margin-right: auto;
}

/* === Page Styles === */
/* header */
.header {
  height: 200px;
  padding-top: 2.65rem;
  background-image: var(--bg-img-header);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: white;
  font-size: 1.4rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/* main */
.todo {
  position: relative;
  margin-top: -5rem;
}

.todo > * + * {
  margin-top: 1rem;
}

.todo-form {
  position: relative;
}

.todo-form input[type='checkbox'] {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

.todo-form input[type='text'] {
  background-color: var(--clr-fill-secondary);
  color: var(--clr-text-base);
  width: 100%;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  padding-left: 3.5rem;
  border: none;
  border-radius: 0.3rem;
}

.todo-form input[type='text']::placeholder {
  color: var(--clr-muted-100);
}

.todo-list {
  background-color: var(--clr-fill-secondary);
  border-radius: 0.3rem;
}

.todo-list > * + * {
  border-top: 1px solid var(--clr-muted-200);
}

.list-item {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.list-item label {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  color: var(--clr-text-base);
}

.list-item input:checked + label {
  color: var(--clr-muted-200);
  text-decoration: line-through;
}

.list-item:not(:last-child) button {
  opacity: 0;
  transform: scale(0.7);
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.list-item:not(:last-child):hover button {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

/* Styles for the actions */
.todo-state {
  background: var(--clr-fill-secondary);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
}

.todo-actions {
  background: var(--clr-fill-secondary);
}

.todo-remaining {
  color: var(--clr-muted-100);
  font-size: 0.9rem;
}

.todo-clear {
  font-size: 0.8rem;
}

.todo-state button {
  font-size: 1rem;
  /* font-weight: var(--font-weight-bold); */
}

button.active {
  color: var(--bright-blue);
}

@media (min-width: 700px) {
  .todo-state {
    position: static;
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
    border-radius: 0;
  }
}
