/* === CSS Variables === */
:root {
  /* === COLORS === */
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* Neutral: Light Theme */
  --clr-fill-primary: hsl(236, 33%, 92%);
  --clr-fill-secondary: hsl(0, 0%, 98%);
  --clr-text-base: hsl(237, 14%, 26%);
  --clr-muted-100: hsl(236, 9%, 61%);
  --clr-muted-200: hsl(233, 11%, 84%);
  --clr-muted-hover: hsl(234, 11%, 52%);

  /* Neutral: Dark Theme */
  /* --clr-fill-primary: hsl(235, 21%, 11%);
  --clr-fill-secondary: hsl(235, 24%, 19%);
  --clr-text-base: hsl(234, 39%, 85%);
  --clr-muted-200: hsl(237, 14%, 26%);
  --clr-muted-100: hsl(234, 11%, 52%);
  --clr-muted-hover: hsl(236, 33%, 92%); */

  /* === TYPOGRAPHY === */
  --font-family: "Josefin Sans", sans-serif;
  --font-size: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* === Reset Styles === */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  min-height: 100vh;
  font-weight: var(--font-weight-regular);
  font-size: 100%;
  background-color: var(--clr-fill-primary);
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* === CSS Utilities === */
.container {
  max-width: 1000px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-left: auto;
  margin-right: auto;
}

/* === Page Styles === */
/* header */
.header {
  height: 200px;
  padding-top: 2.65rem;
  background-image: url("../images/bg-mobile-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  color: white;
  font-size: 1.4rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

/* main */
.todo {
  position: relative;
  margin-top: -5rem;
}

.todo > * + * {
  margin-top: 1rem;
}

/* Dummy classes for placeholder */
.dummy-class {
  background-color: var(--clr-fill-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-muted-100);
}

.todo-form,
.todo-actions {
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list {
  height: 400px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(151, 137, 137, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li.checked label {
  text-decoration: line-through;
}
